*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

#root {
    height: 100svh;
    display: grid;
    grid-template-rows: 1fr auto;

    --box-shadow: box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

/*.filters {
    display: flex;
    gap: 1em;
    padding: 1em;
}*/

.mc-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 0.8em;

    @media (width >=768px) {
        --min-width: 325px;
        grid-template-columns: repeat(auto-fill, var(--min-width));
    }

    @media (width >=1200px) {
        --min-width: 419px;
        font-size: 1em;
    }
}

/* Card block */
.mc-card {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    border-radius: 1rem;
    align-items: flex-start;
    flex-direction: row;
    background-color: transparent;

    width: 100%;
    max-width: calc(750% / 10.39);
    aspect-ratio: 750/1039;
    contain: content;

    /* Card horizontal modifier */
    &.mc-card--horizontal {
        max-width: 100%;
        aspect-ratio: 1039/750;
    }

    &>* {
        width: 100%;
        height: 100%;
    }


    /* Card show data modifier */
    &:hover,
    &.mc-card--show-data {
        & .mc-card__image {
            filter: blur(1px);
            transition: 400ms filter linear;
            width: 100%;
        }

        & .mc-card__content>* {
            visibility: visible;
            opacity: 1;
            transition: visibility 400ms, opacity 400ms ease-in-out, top 400ms ease-in, bottom 400ms ease-in;
        }

        & .mc-card__content>header {
            z-index: 1;
            top: .5em;
        }

        & .mc-card__content>main {
            z-index: 0;
            bottom: 2em;
        }
    }

    /* Card image element */
    .mc-card__image,
    .lazy-load-image-loaded {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 400ms filter linear;
        border-radius: 1rem;

        &.front-image {
            transform: rotateY(0deg);
            transition: transform 400ms ease-out 400ms;
        }

        &.back-image {
            transform: rotateY(-90deg);
            transition: transform 400ms ease-in;

        }
    }

    &.mc-card--flipped {
        & .front-image {
            transform: rotateY(90deg);
            transition: transform 400ms ease-in;

        }

        & .back-image {
            transform: rotateY(0deg);
            transition: transform 400ms ease-out 400ms;

        }

    }

    /* Card content element */
    .mc-card__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &>header {
            opacity: 0;
            left: .5em;
            right: .5em;
            top: 0;
            position: absolute;
            transition: opacity 400ms ease-in-out, top 200ms ease-in;
        }

        &>main {
            opacity: 0;
            bottom: 0;
            left: 1em;
            right: 1em;
            position: absolute;
            transition: visibility 400ms, opacity 400ms ease-in-out, bottom 200ms ease-in, bottom 400ms ease-in;
        }
    }

    /* Card actions element */
    .mc-card__actions {
        flex-shrink: 0;
    }

    /* Card name element */
    .mc-card__name,
    .mc-card__threat,
    .mc-card__cost {
        color: black;
        background-color: white;
        padding: 0.5em;
        border-radius: 0.25em;
        flex-shrink: 1;
        text-align: center;
        font-weight: bold;
    }

    /* Card data text sub element */
    .mc-card__data__text {
        border-radius: 0.5em;
        border: 1px solid transparent;
        padding: 0.5em;
        color: black;
        background-color: white;
    }
}

.shadowed {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#mc-card-list {
    transition: margin 400ms;
}

#download-manager,
#filters {
    position: absolute;
    top: 0;
    width: 400px;
    max-width: 100%;
    transform: scale3d(0, 1, 1);
    transition: transform 400ms, left 400ms;
    z-index: 10;
    bottom: 0;
}

#download-manager {
    left: -200px;
}

#filters {
    right: -200px;
}

#main-section {
    height: 100%;
    position: relative;
    overflow-y: hidden;

    &>* {
        height: 100%;
        overflow-y: auto;
    }

    &.main-section--download-manager {
        & #download-manager {
            left: 0;
            transform: scale3d(1, 1, 1);
            transition: transform 400ms, left 400ms;
        }

        & #mc-card-list {
            @media (min-width: 800px) {
                margin-inline-start: 400px;
            }
        }
    }

    &.main-section--filters {
        & #filters {
            right: 0;
            transform: scale3d(1, 1, 1);
            transition: transform 400ms, right 400ms;
        }

        & #mc-card-list {
            @media (min-width: 800px) {
                margin-inline-end: 400px;
            }
        }

        & #mc-card-list-actions {
            right: calc(400px + 1.5em);
            transition: right 400ms;
        }
    }
}

#main-navigation {
    width: '100%';
    background-color: black;
    z-index: 100;
}

#mc-card-list-actions {
    position: fixed;
    top: 1em;
    right: 1.5em;
    transition: right 400ms;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 4px
}

#pagination-container {
    z-index: 500;
    box-shadow: 0 -4px 4px #0000001C;

    & .pagination {
        margin-block: .5em;
    }
}